*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#box1{
    height: 100px;
    width: 100px;
    border: 3px solid #000000;
    background-color: #ff8787;
}
#box1:hover{
    animation: sizeUp 0.5s;
}
@keyframes sizeUp {
    20%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}